################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/Properties/launchSettings.json
/.vs/Vulkano2
/compile_shaders.bat
*.spv
